* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.calculator-container {
  max-width: 380px;
  height: 100%;
}
@media (min-width: 556px) {
  .calculator-container {
    height: min(90%, 650px);
  }
}

.row button {
  height: 60px;
  width: 60px;
  margin-block: auto;
}

.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box input {
  font-size: 3rem;
  color: white !important;
}
